* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Faustina', serif;
}

.logo {
  font-size: 50px;
  font-weight: bold;
}

.firstImage {
  max-height: 90vh;
  width: 100%;
  object-fit: cover;
}

.firstTitle {
  border: 1px solid black;
  border-radius: 0 10px 0 10px;
}

.content
.footer {
  max-width: 1400px;
}

.table {
  max-width: 500px;
}

.card {
  min-height: 250px;
}

.inscriptionForm {
  max-width: 992px;
}

.registrationForm {
  max-width: 500px;
}